.blog {
    color: #fff;
}

.blog-card {
    border: 1px solid #fff;
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    width: 50%;
    margin: auto;
}

.blog-excerpt {
    padding: 5px;
    margin: 5px;
}

.blog-button {
    margin: auto;
    width: 30%;
}