.projects {
  // background-image: linear-gradient(135deg,rgb(43, 90, 185),rgb(80, 154, 189));
  padding-top:20px;
  padding-bottom: 20px;
  height: 100vh;
  min-height: 100vh;
}

.project-text .item{
  display: block;
  margin: auto;
  text-align:left;
}

.project-text p {
  color: white;
}

.project-card {
  margin-top: 50px;
  margin-bottom: 50px;
}


  .item{
    .button-v1, .button-v2{
      float: left;
      margin-left: 5px;
    }
  }


.project-card img{
  border-radius: 2%;
  margin-top: 3vh;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
  position: relative;
  float: left;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 768px){
    width: 100%;
    height: auto;
  }
}