.headshot {
    height: auto;
    max-height: 220px;
    width: auto;
    max-width: 220px;
    display: inline-block;
  }
.aboutme {
    text-align: center;
    padding: 10px 10px 10px 10px;
  }
.buttonspace {
    width:5px;
    height:auto;
    display:inline-block;
  }
.divider {
  height: 10px;
}
