@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.about {
    background-color: #02aab0;
    background-image: linear-gradient(135deg,rgb(43, 90, 185),rgb(80, 154, 189));
    color: #fff;
    height: 100%;
    border-top: 0;
    -webkit-clip-path: polygon(0 0,100% 0,100% 80%,0 100%);
    clip-path: polygon(0 0,100% 0,100% 80%,0 100%);
    padding-bottom: 10%;
    padding-top: 1%;
    margin-top: 50px;
}

.text-format {
    font-family: 'Roboto', sans-serif;
    text-align: left;
}
@media (max-width: 700px) {
    .container{
        flex-wrap: wrap;
    }
}

img {
    height: 15%;
    width: auto;
}

.container {
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.item {
    align-content: center;
    width: 50%;
    
}