.hamburger-icon {
    transition: transform 0.25s ease-out;
    fill: white;
}

.hamburger-icon-1 {
    transition: transform 0.25s ease-out;
    fill: white;
}

.hamburger-icon-1:hover {
    transform: rotate(45deg);

}

.arrow-right {
    width:10%;
    height: auto;
    fill: white;
}
.hamburger-icon:hover {
    transform: rotate(45deg);

}

.button-expand .arrow-right{
    display: none;
}

.button-expand:hover .hamburger-icon,
.button-expand:active .hamburger-icon {
    display: none;
}

.button-expand:hover .arrow-right,
.button-expand:active .arrow-right {
    display: block;
}

.side-menu {
    height: 100%;
    background: white;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

.side-menu.open {
    transform: translateX(0);
}

.side-menu ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-menu li {
    margin: 0.5rem 0;
}
.side-menu a {
    color: purple;
    text-decoration: none;
    font-size: 1.2rem;
}

.side-menu a:hover,
.side-drawer a:active {
    color:orange;
}

@media (min-width: 769px) {
    .side-drawer{
        display:none;
    }
}